<div class="log-w3"></div>
	<div class="w3layouts-main">
		<h2>Đăng Nhập</h2>
			<form action="/admin-dashboard" method="post">
				<input type="email" class="ggg" name="admin_email" placeholder="E-MAIL" required="">
				<input type="password" class="ggg" name="admin_password" placeholder="PASSWORD" required="">
				<span><input type="checkbox" />Nhớ Mật Khẩu ?</span>
				<h6><a href="#">Quên mật khẩu ?</a></h6>
					<div class="clearfix"></div>
					<input type="submit" value="Sign In" name="login">
			</form>
			{{!-- <p>Don't Have an Account ?<a href="registration.html">Create an account</a></p> --}}
	</div>
</div>